<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rohit page</title>
</head>
<body>
    <center>
        <h1>welcome to Rohit page</h1>
        <h1><a href="{% url 'mi:bumrah' %}">Go to Bumrah page</a></h1>
        <h1><a href="{% url 'rr:sanju' %}">Go to Sanju page</a></h1>
        <h1><a href="{% url 'rr:boult' %}">Go to boult page</a></h1>
    </center>
</body>
</html>